@use 'reset';
@use 'vars';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

body {
  font-family: 'Noto Serif';
  background-color: vars.$white;
  color: vars.$black;
  line-height: 105%;

  ::selection {
    background-color: vars.$mainColor;
    color: vars.$white;
  }
}

@media screen and (min-width: 850px) {
  body {
    line-height: 110%;
  }
}

@media screen and (min-width: 1500px) {
  body {
    line-height: 120%;
  }
}

@keyframes apparition {
  100% {
    transform: none;
    opacity: 1;
  }
}