@use '../../styles/vars';

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 50;

  &--toggle {
    display: none;
  }

  &--buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: space-evenly;
    background: black;
    width: 100vw;
    padding: 10px;
    transition: .3s;

    &--item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: .2s;

      &--icon {
        border-radius: 50%;
        background-color: vars.$mainColor;
        border: 2px solid vars.$mainColor;
        padding: 0.6em;
        height: 50px;
        box-shadow: 2px 2px 10px vars.$black;
      }

      &--label {
        text-align: center;
        margin-top: 4px;
        font-size: 10px;
        width: 5em;
        color: vars.$white;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .navigation {
    bottom: auto;
    right: auto;
    top: 0;
    left: 0;

    &--toggle {
      z-index: 30;
      background: vars.$mainColor;
      padding: 0.6em;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 10px 24px 10px;
      box-shadow: 2px 2px 10px vars.$black;
      transition: .2s;
      border: 2px solid vars.$mainColor;
  
      &:active {
        transform: scale(0.9);
      }
  
      &--line {
        &-1 {
          width: 2em;
          transform: translateY(1.5em);
          transition: .5s;
        }
  
        &-2 {
          width: 2em;
          transition: .5s;
        }
  
        &-3 {
          width: 2em;
          transform: translateY(-1.5em);
          transition: .5s;
        }
      }
  
      &.opened &--line {
        &-1 {
          transform: translateY(2em) rotate(45deg);
        }
  
        &-2 {
          transform: translateX(2em);
          opacity: 0;
        }
  
        &-3 {
          transform: translateY(-2em) rotate(135deg);
        }
      }

      &:hover {
        border-color: vars.$white;
      }
    }

    &--buttons {
      flex-direction: column;
      width: auto;
      bottom: auto;
      left: auto;
      visibility: hidden;
      transform: translateY(-10em);
      background: transparent;
      opacity: 0;

      &.opened {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      &--item {
        flex-direction: row;
        margin-bottom: 0.5em;

        &--icon {
          z-index: 50;
          box-shadow: 2px 2px 10px vars.$black;
        }

        &--label {
          position: absolute;
          z-index: 45;
          padding: 1.2em;
          color: vars.$white;
          opacity: 0;
          text-align: start;
          border-radius: 25px;
          padding-left: 3em;
          height: 50px;
          width: 10em;
          transition: .3s;
          color: vars.$black;
        }

        &:hover {
          .navigation--buttons--item--label {
            opacity: 1;
            transform: translateX(5em);
          }

          .navigation--buttons--item--icon {
            background-color: vars.$hover;
            border-color: vars.$hover;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .navigation {
    top: 3em;
    left: 3em;

    &--toggle {
      width: 5em;
      height: 5em;

      &--line {
        &-1 {
          width: 2.6em;
          transform: translateY(2em);
        }

        &-2 {
          width: 2.6em;
        }

        &-3 {
          width: 2.6em;
          transform: translateY(-2em);
        }
      }

      &.opened &--line {
        &-1 {
          transform: translateY(2.6em) rotate(45deg);
        }
  
        &-2 {
          transform: translateX(10em);
          opacity: 0;
        }
  
        &-3 {
          transform: translateY(-2.6em) rotate(135deg);
        }
      }
    }

    &--buttons {
      &--item {
        margin-top: 1em;
        margin-bottom: 0;

        &--icon {
          height: 60px;
          padding: 1em;
        }

        &--label {
          font-size: 1em;
          height: 60px;
          border-radius: 50px;
        }
      }
    }
  }
}

.selected {
  .navigation--buttons--item--icon {
    border-color: vars.$white;
  }
}