@use '../../styles/vars';

.footer {
  background-color: vars.$white;
  margin: 80px 0;
  transform: translateY(100px) scale(2);
  opacity: 0;
  animation: apparition 1s 1s ease-out forwards;
  
  &--title {
    position: absolute;
    visibility: hidden;
  }

  &--container {
    width: 100vw;
    display: flex;
    justify-content: center;

    &--img {
      transform: rotateY(180deg);
      margin-bottom: 1em;
      height: 50px;
      perspective: 2000px;
      perspective-origin: bottom;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

      &:hover {
        transform: rotateY(0);
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .footer {
    margin: 80px 0 0 0;
  }
}