@use '../../styles/vars';

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  margin-bottom: 2rem;

  &--button {
    border: none;
    background: transparent;
    z-index: 3;
    cursor: pointer;

    &_left {
      background: vars.$mainColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      padding: 0.5em;
      margin: 0 1em;
      height: 100%;
      visibility: hidden;
      transition: .2s;

      &:active {
        transform: scale(0.8);
      }
    }

    &_right {
      background: vars.$mainColor;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      padding: 0.5em;
      margin: 0 1em;
      height: 100%;
      transform: rotate(180deg);
      transition: .2s;

      &:active {
        transform: scale(0.9) rotate(180deg);
      }
    }
  }

  &--container {
    position: relative;
    width: 50vw;
    max-width: 250px;
    height: 50vw;
    max-height: 250px;
    z-index: 2;
    
    &--element {
      width: 100%;
      position: absolute;
      opacity: 0;
      transform: translateX(100%);
      transition: .3s;

      &.active_slide {
        opacity: 1 !important;
        transform: none !important;
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .slider {
    margin: 2em 0;

    &--button {
      &_left:hover {
        background: vars.$hover;
      }

      &_right:hover {
        background: vars.$hover;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .slider {
    margin: 4em 0 5em;

    &--button {
      &_left {
        width: 40px;
        height: 40px;
      }
      
      &_right {
        width: 40px;
        height: 40px;
      }
    }

    &--container {
      width: 300px;
      height: 300px;
      max-width: 300px;
      max-height: 300px;
    }
  }
}